@{
    ViewBag.Title = "Home";
}
<div class="jumbotron main-cta games-cta">
    <div class="overlay"></div>
    <div class="container">
        <div class="main-cta-header">
            <h1>Share your games with your neighbours</h1>
            <div class="main-cta-support-text">
                <p>Earn money lending your old games to neighbours</p>
                <p>Search your local area for games to borrow</p>
                <div class="main-cta-buttons">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                            <a class="btn btn-default btn-block main-cta-btn main-cta-btn-primary" href="/search">Search for games</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                            <a class="btn btn-default btn-block main-cta-btn main-cta-btn-secondary" href="/settings/games">Share your games</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 home-selling-point">
                <img class="center-block" src="http://i.imgur.com/IKUhTlC.png" width="150" height="150"/>
                <h3 class="text-center">Latest Titles</h3>
                <p class="text-center">Browse through the latest titles in your local area</p>
            </div>
            
            <div class="col-sm-4 home-selling-point">
                <img class="center-block" src="http://i.imgur.com/ton3mCP.png" width="150" height="150"/>
                <h3 class="text-center">Instant Availability</h3>
                <p class="text-center">Arrange to collect or have your games delivered around the clock</p>
            </div>
            
            <div class="col-sm-4 home-selling-point">
                <img class="center-block" src="http://i.imgur.com/k6T6Yrd.png" width="150" height="150"/>
                <h3 class="text-center">Trusted Users</h3>
                <p class="text-center">User feedback provides peace of mind to ensure game sharers can be trusted</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section home-step-holder">
    <div class="container">
        <h2 class="text-center">Stock Share will help you find the latest games in your area</h2>
        <div class="row home-step-row">
            <div class="col-sm-6 col-sm-push-6 col-lg-offset-2 col-lg-4 col-lg-push-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">1</span>
                </p>
                <p class="text-center">Enter your location and search radius</p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4">
                <img class="center-block" src="http://i.imgur.com/9Lq1saB.png" width="200" height="200"/>
            </div>
        </div>
        
        <div class="row home-step-row">
            <div class="col-sm-6 col-lg-offset-2 col-lg-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">2</span>
                </p>
                <p class="text-center">Search for the game you're looking to borrow</p>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <img class="center-block" src="http://i.imgur.com/uAyVH8O.png" width="200" height="200"/>
            </div>
        </div>
        
        <div class="row home-step-row">
            <div class="col-sm-6 col-sm-push-6 col-lg-offset-2 col-lg-4 col-lg-push-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">3</span>
                </p>
                <p class="text-center">Pay for the rental and arrange a time for collection</p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4">
                <img class="center-block" src="http://i.imgur.com/OUN2K9T.png" width="200" height="200"/>
            </div>
        </div>
    </div>
</div>

<div class="home-section home-step-holder home-step-holder-alt">
    <div class="container">
        <h2 class="text-center">Earn money sharing games with members of your local community</h2>
        <div class="row home-step-row">
            <div class="col-sm-6 col-sm-push-6 col-lg-offset-2 col-lg-4 col-lg-push-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">1</span>
                </p>
                <p class="text-center">Add your games library to your user account</p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4">
                <img class="center-block" src="http://i.imgur.com/kxZjdh0.png" width="200" height="200"/>
            </div>
        </div>
        
        <div class="row home-step-row">
            <div class="col-sm-6 col-lg-offset-2 col-lg-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">2</span>
                </p>
                <p class="text-center">Receive notifications when someone wants to borrow a game</p>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <img class="center-block" src="http://i.imgur.com/xFtKykS.png" width="200" height="200"/>
            </div>
        </div>
        
        <div class="row home-step-row">
            <div class="col-sm-6 col-sm-push-6 col-lg-offset-2 col-lg-4 col-lg-push-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">3</span>
                </p>
                <p class="text-center">Arrange time for collection and receive payment</p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4">
                <img class="center-block" src="http://i.imgur.com/REiKSJ9.png" width="200" height="200"/>
            </div>
        </div>
    </div>
</div>