<div class="jumbotron main-cta tools-cta">
    <div class="overlay"></div>
    <div class="container">
        <div class="main-cta-header">
            <h1>Share your tools with your neighbours</h1>
            <div class="main-cta-support-text">
                <p>Don't want to invest in a brand new tool for a one-off job?</p>
                <p>Search your local area for matching tools </p>
                <div class="main-cta-buttons">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                            <a class="btn btn-default btn-block main-cta-btn main-cta-btn-primary" href="#">Search for tools</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                            <a class="btn btn-default btn-block main-cta-btn main-cta-btn-secondary" href="#">Share your tools</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 home-selling-point">
                <img class="center-block" src="http://i.imgur.com/JCoKvKR.png" width="150" height="150"/>
                <h3 class="text-center">Quality Products</h3>
                <p class="text-center">All tools shared are checked and verified to ensure their quality</p>
            </div>
            
            <div class="col-sm-4 home-selling-point">
                <img class="center-block" src="http://i.imgur.com/ton3mCP.png" width="150" height="150"/>
                <h3 class="text-center">Instant Availability</h3>
                <p class="text-center">Arrange to collect or have your tools delivered around the clock</p>
            </div>
            
            <div class="col-sm-4 home-selling-point">
                <img class="center-block" src="http://i.imgur.com/k6T6Yrd.png" width="150" height="150"/>
                <h3 class="text-center">Trusted Users</h3>
                <p class="text-center">User feedback provides peace of mind to ensure tool sharers can be trusted</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section home-step-holder">
    <div class="container">
        <h2 class="text-center">Tool Sharer will help you find what you need for your job</h2>
        <div class="row home-step-row">
            <div class="col-sm-6 col-sm-push-6 col-lg-offset-2 col-lg-4 col-lg-push-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">1</span>
                </p>
                <p class="text-center">Enter your location and search radius</p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4">
                <img class="center-block" src="http://i.imgur.com/9Lq1saB.png" width="200" height="200"/>
            </div>
        </div>
        
        <div class="row home-step-row">
            <div class="col-sm-6 col-lg-offset-2 col-lg-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">2</span>
                </p>
                <p class="text-center">Search for the tool you're looking to borrow</p>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <img class="center-block" src="http://i.imgur.com/uAyVH8O.png" width="200" height="200"/>
            </div>
        </div>
        
        <div class="row home-step-row">
            <div class="col-sm-6 col-sm-push-6 col-lg-offset-2 col-lg-4 col-lg-push-4 col-sm-vcenter">
                <p class="text-center">
                    <span class="circle">3</span>
                </p>
                <p class="text-center">Pay for the rental and arrange a time for collection</p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4">
                <img class="center-block" src="http://i.imgur.com/OUN2K9T.png" width="200" height="200"/>
            </div>
        </div>
    </div>
</div>