h1 {
    margin-top: 0;
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    margin-top: 5px;
}

hr {
    margin-top: 10px;
    border-color: #E2E2E2;
}

.settings-main {
    min-height: 500px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}