@using StockSharer.Web.Areas.Settings.ViewModels
@model StockSharer.Web.ViewModels.SearchResultsViewModel
@{
    ViewBag.Title = "Account";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Games"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Games</h1>
                        <h2>Manage your games catalogue</h2>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}