@using StockSharer.Web.Areas.Settings.ViewModels
@model StockSharer.Web.ViewModels.SearchResultsViewModel
@{
    ViewBag.Title = "Account";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Games"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Games</h1>
                        <h2>Manage your games catalogue</h2>
                        <hr/>
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Game</th>
                                        <th>Platform</th>
                                        <th>Date added</th>
                                        <th>Current status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="http://images.stocksharer.com/cc2c136b-8af2-4efe-bd40-2d517afcb544.jpg" width="50" height="63"/></td>
                                        <td>FIFA 16</td>
                                        <td>Xbox One</td>
                                        <td>15th January 2016</td>
                                        <td>Available</td>
                                    </tr>
                                    <tr>
                                        <td><img src="http://images.stocksharer.com/cc2c136b-8af2-4efe-bd40-2d517afcb544.jpg" width="50" height="63"/></td>
                                        <td>Forza Motorsport</td>
                                        <td>Xbox One</td>
                                        <td>15th January 2016</td>
                                        <td>Available</td>
                                    </tr>
                                    <tr>
                                        <td><img src="http://images.stocksharer.com/cc2c136b-8af2-4efe-bd40-2d517afcb544.jpg" width="50" height="63"/></td>
                                        <td>Tiger Woods 2014</td>
                                        <td>Xbox One</td>
                                        <td>15th January 2016</td>
                                        <td>Available</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}