@model StockSharer.Web.Areas.Settings.Controllers.SearchViewModel
@{
    Layout = null;
}

<h2>Search results (4) for: <strong>“test”</strong></h2>

<ul>
    <li>
        <a href="http://andreaslagerkvist.com/blog/2015/running-multiple-sites-on-one-wordpress-installation/">
            <img width="320" height="320" src="http://andreaslagerkvist.com/wp-content/uploads/2015/03/bw-mk-working-320x320.jpg" class="attachment-post-thumbnail wp-post-image" alt=""> 
            Running multiple sites on one WordPress installation				</a>
    </li>
    <li>
        <a href="http://andreaslagerkvist.com/blog/2015/new-design/">
            <img width="320" height="320" src="http://andreaslagerkvist.com/wp-content/uploads/2015/03/office-desk-dark-320x320.jpg" class="attachment-post-thumbnail wp-post-image" alt=""> 
            New design :)				</a>
    </li>
    <li>
        <a href="http://andreaslagerkvist.com/blog/2015/how-to-create-a-scrolling-twitter-feed-for-your-website/">
            <img width="320" height="320" src="http://andreaslagerkvist.com/wp-content/uploads/2015/03/Twitter_bird_logo-320x320.png" class="attachment-post-thumbnail wp-post-image" alt=""> 
            How to create a scrolling Twitter feed for your website				</a>
    </li>
    <li>
        <a href="http://andreaslagerkvist.com/portfolio/conversionista-se/">
					 
            Conversionista.se				</a>
    </li>
</ul>