@using StockSharer.Web.Areas.Settings.ViewModels
@model SettingsViewModel
@{
    ViewBag.Title = "Privacy";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Privacy"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Account</h1>
                        <h2>Change your password</h2>
                        <hr/>
                        
                        @if (Model.Message != null)
                        {
                            <div class="alert @(Model.Success ? "alert-success" : "alert-danger")" role="alert">
                                <span class="glyphicon" aria-hidden="true"></span>
                                @Model.Message
                            </div>
                        }

                        <form class="form-horizontal" method="POST">
                            <div class="form-group">
                                <label for="Password" class="col-sm-3 control-label">New password</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" name="Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-sm-3 control-label">Confirm password</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" name="ConfirmPassword" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}