body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0 15px -2px;
    letter-spacing: -2px;
    color: #444;
    font-weight: bold;
}

@media(min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

.content-page {
    background-color: #0bb8e3;
    padding-top: 30px;
}

.content-page-inner {
    background-color: white;
    border-top: 6px solid #444444;
    padding-left: 30px;
    padding-right: 30px;
}

.content-page-header {
    margin-bottom: 30px;
}