body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0 15px -2px;
    letter-spacing: -2px;
    color: #444;
    font-weight: bold;
}

@media(min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

.content-page {
    background-color: #0bb8e3;
    padding-top: 30px;
}

.content-page-inner {
    background-color: white;
    border-top: 6px solid #444444;
    padding-left: 30px;
    padding-right: 30px;
}

.content-page-header {
    margin-bottom: 30px;
}

a.navbar-brand {
    padding-left: 0;
}

.result-holder h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    background: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 18px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-image {
    height: 375px;
    overflow: hidden;
}

.result-holder {
    margin-bottom: 20px;
}

.result-image img {
    width: 100%;
}