body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0 15px -2px;
    letter-spacing: -2px;
    color: #444;
    font-weight: bold;
}

@media(min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

.content-page {
    background-color: #0bb8e3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-page-inner {
    background-color: white;
    border-top: 6px solid #444444;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 500px;
}

.content-page-header {
    margin-bottom: 30px;
}

a.navbar-brand {
    padding-left: 0;
}

.result-holder h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    background: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 18px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-image {
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.result-holder {
    margin-bottom: 20px;
    background: #e7e7e7;
}

.result-image img {
    width: 100%;
}

.result-image .label {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    padding-top: 6px;
}

.result-image .label-ratings {
    left: 0;
}

.result-image .label-distance {
    right: 0;
}

.result-image .label-ratings {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    padding-top: 6px;
}

.result-footer {padding: 10px;font-size: 12px;}

.result-holder:hover {
    background: #d2d2d2;
}

.result-footer p {
}

.result-meta {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0;
    margin-bottom: 10px;
}

.result-meta td {
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 14px;
}

.result-cta .btn {
    background-color: #0BB8E3;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.result-cta .fa {
    font-size: 22px;
}

.result-filter {
    background-color: #E7E7E7;
    margin-bottom: 20px;
}

.result-filter h2 {
    margin-top: 0;
    background-color: #444444;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.result-filter .btn {
    background-color: #0BB8E3;
    color: white;
    font-weight: bold;
    border-color: #0BB8E3;
    text-transform: uppercase;
}

.result-filter form {
    padding: 10px;
}

@media (min-width: 768px){
    #availabilityModal .modal-dialog {
        width: 370px;
    }

    .nav>li>a {
        
padding-right: 0;
    }
}

.navbar-container {padding-right: 0;}

.ranges li:last-child { display: none; }

.text-success {
    color: green;
    padding: 10px;
    background-color: #E6EEE6;
    font-weight: bold;
    border: 1px solid green;
}

.text-warning {
    padding: 10px;
    background-color: #EFF0ED;
    font-weight: bold;
    border: 1px solid #B4BB50;
    color: #504E19;
}

.result-filter .form-group:last-child {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 5px;
}

h2 {
    font-size: 28px;
    margin-top: 0;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #0bb8e3;
}