body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    margin: 15px 0 0;
    letter-spacing: -2px;
    color: #444;
    font-weight: bold;
}

@media(min-width: 1200px) {
    .container {
        width: 1040px;
    }
}