@using System.Web.Optimization
@model StockSharer.ViewModels.RegisterViewModel
<div class="page-content-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="page-content login-holder">
                    <h1 class="text-center">Register an account</h1>
                    <h2 class="text-center">Simply enter your email address and password</h2>
                    <form method="POST" action="/user/register">
                        @if (Model.LoginError)
                        {
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                An error occurred, please try again
                            </div>
                        }
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" placeholder="Email" value="@Model.Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm password">
                        </div>
                        <button type="submit" class="btn btn-default btn-block main-cta-btn main-cta-btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/user")
}