@using System.Web.Optimization
@model StockSharer.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="page-content-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="page-content login-holder">
                    <h1 class="text-center">Sign in to StockSharer</h1>
                    <h2 class="text-center">Enter your email and password</h2>
                    <form method="POST" action="/user/login?ReturnUrl=@Model.ReturnUrl" data-toggle="validator">
                        @if (Model.LoginError)
                        {
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Please enter a valid email address and password
                            </div>
                        }
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" placeholder="Email" value="@Model.Email" required data-error="Please enter a valid email address">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Password" required data-error="Please enter a valid password">
                            <div class="help-block with-errors"></div>
                        </div>
                        <button type="submit" class="btn btn-default btn-block main-cta-btn main-cta-btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/user")
}