@using System.Web.Optimization
@model StockSharer.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="page-content-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="page-content login-holder">
                    <h1 class="text-center">Registration successful</h1>
                    <h2 class="text-center">Thank you for registering with us</h2>
                    <p class="text-center">We have sent you an email to verify your address and confirm your registration.  Please open this email and click the link to begin.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/user")
}