@using System.Web.Optimization
@{
    ViewBag.Title = "Register an account";
}
<div class="page-content-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="page-content login-holder">
                    <h1 class="text-center">Reset password</h1>
                    <h2 class="text-center">Enter your email below</h2>
                    <form method="POST" action="/user/ResetPassword" data-toggle="validator">
                        @Html.AntiForgeryToken()
                        <p class="text-center">In order to reset your password, we will send you an email containing a link with instructions of how to change your password.</p>
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" placeholder="Email" required data-error="Please enter a valid email">
                            <div class="help-block with-errors"></div>
                        </div>
                        <button type="submit" class="btn btn-default btn-block main-cta-btn main-cta-btn-primary">Send reset link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/user")
}