@using System.Web.Optimization
@{
    ViewBag.Title = "Reset password success";
}

<div class="page-content-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="page-content login-holder">
                    <h1 class="text-center">Reset password</h1>
                    <h2 class="text-center">Your request was successful</h2>
                    <p class="text-center">We have sent you an email containing instructions to reset your password.  Please open this email and click the link to begin.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/user")
}